
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="javascripts/jic_common.js"> </script>
    <link rel='stylesheet' href='/stylesheets/Contact_Section.css' />
    <link rel='stylesheet' href='/stylesheets/DMANTZ_Home_Page.css'/>

</head>
<body>

<div class="transbox">
    <ul>
        <li><a href="#p">HOME</a></li>
        <li><a href="#about us">ABOUT</a></li>
        <li><a id="contact" onclick="" href="#cont">CONTACT</a></li>

        <li style="float:left"><a href="#DMANTZ">DMANTZ</a></li>
    </ul>
</div>


<!--<div class="slider">
</div> -->
<div id="p" class="parallax"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">Up</button>

<div style="height:1000px;background-color:red;font-size:36px">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>

<div class="parallax1"></div>

 <div id="cont" style="height:1000px;background-color:red;font-size:36px;">
     <div id="ContactUsModel" style="display:block;padding-top:10%;padding-right:24%;">

         <div id="C_S">

             <div id="Contact_Us">
                 <h2 id="C_U">
                     Contact Us<br/>
                 </h2>
             </div>

             <div id="Sub_Title">
                 <h3 id="S_T">
                     Swing by for a cup of coffee, or leave us a message<br/>
                 </h3>
             </div>
             <div id="ContactUsMapAndFormBox">
                 <div id="ContactUsLocationMap">
                 </div>
                 <div id="ContactUsForm">
                     <div id="cerrorBox" style="font-size: 20;float:right;"></div>
                     <form id="contact">

                         <div id="cFirst_Name">
                             First Name

                             <input type="text" id="Fname_text_box" placeholder="Your name.."/>

                         </div>

                         <div id="cLast_Name">

                             Last Name
                             <input type="text" id="cLname_box" placeholder="your last name.."/><br>

                         </div>




                         <div id="cE-mail">
                             E-mail
                             <input type="text" id="cEmail_box" placeholder="E-mail.."/>
                         </div>


                         <div id="Country">

                             Country

                             <select id="Country_box">
                                 <option>

                                 </option>
                                 <option>
                                     Australia
                                 </option>
                                 <option>
                                     Canada
                                 </option>
                                 <option>
                                     USA
                                 </option>
                                 <option>
                                     India
                                 </option>
                             </select>
                         </div>
                         <div id="Subject">

                             Subject
                             <textarea id="Subject_box">Write something..</textarea>
                         </div>

                     </form>
                     <button id="cSubmit" onclick="ContactSection()">Submit</button>

                    <button id="cReset" onclick="resetform1()">Reset</button>
                 </div>
             </div>
         </div>
     </div>

    page 2

</div>
<div class="parallax2"></div>
<div class="w3-container" >

</div>

<div class="navbar">
    <h2>Copyright <img src="/images/copyright-symbol.png"> 2018 | DMANTZ Inc.All rights reserved.</h2>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB2ucKPJckBw-jP3kYh44QSFgXLSIGwok&callback=myMap"> </script>



<!--<img src="images/one.jpg" height="100%" width="100%"> -->
</body>
</html>